.venv/
Data/**/*.nc
Data/**/*.zip
!Data/Wind/cmems_obs-wind_glo_phy_my_l4_P1M_202401.nc
**/*solutions.ipynb
**/*.png
**/*.jpg
Modules/*
!Modules/.gitkeep
**/__pycache__/
*.pyc
.vscode
!Modules/timeseries_analyzer.py
!Modules/trend_analysis.py
!Modules/enso_functions.py
!Modules/ekman_dynamics.py
get_data
Slides
Notes.txt
**/chunking*
Files_Students
Session*
*solution*
*pytest_cache*
