numpy
matplotlib
xarray
pandas
#geopandas
emoji
netCDF4
h5netcdf
scipy
cartopy
shapely
pyproj
dask
nc-time-axis
bokeh
gsw
holoviews
pycwt
eofs
hvplot
ipykernel
ipython
jupyter_client
pytest
requests 
aiohttp
fsspec
jupyter_bokeh
PyWavelets